<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.quatronic.jedlixplugin" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>jedlixplugin</name><js-module name="jedlixplugin" src="www/jedlixplugin.js"><clobbers target="cordova.plugins.jedlixplugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="jedlixplugin"><param name="ios-package" value="jedlixplugin" /></feature></config-file><source-file src="src/ios/jedlixplugin.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="jedlixplugin"><param name="android-package" value="com.quatronic.jedlixplugin.jedlixplugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/jedlixplugin.java" target-dir="src/com/quatronic/jedlixplugin/jedlixplugin" /></platform></plugin>