<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.quatronic.jedlixplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JedlixPlugin</name>

    <js-module name="JedlixPlugin" src="www/JedlixPlugin.js">
        <clobbers target="cordova.plugins.JedlixPlugin" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <preference name="SwiftVersion" value="5"/>
            <feature name="JedlixPlugin">
                <param name="ios-package" value="JedlixPlugin" />
            </feature>
        </config-file>
        <framework src="src/ios/JedlixSDK.framework" embed="true" custom="true" />
        <source-file src="src/ios/JedlixPlugin.swift" />
        <source-file src="src/ios/Authentication.swift" />
        <source-file src="src/ios/DefaultAuthentication.swift" />
        <source-file src="src/ios/User.swift" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <preference name="GradlePluginVersion" value="8.0.0" />
            <preference name="KotlinVersion" value="1.8.10" />
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <feature name="JedlixPlugin">
                <param name="android-package" value="JedlixPlugin" />
            </feature>
	</config-file>
	<framework src="com.jedlix:sdk:1.5.0" />
	<source-file src="src/android/JedlixPlugin.kt" 	target-dir="src/com/jedlixplugin/cordova/plugin" />	    
	<source-file src="src/android/Authentication.kt" target-dir="src/com/jedlixplugin/cordova/plugin" />
	<source-file src="src/android/DefaultAuthentication.kt" target-dir="src/com/jedlixplugin/cordova/plugin" />
    </platform>
</plugin>
